/*
* @Author: Administrator
* @Date:   2018-08-29 11:45:09
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-29 11:51:07
*/
.call{
	padding-left: 40px;
	overflow: hidden;
	background: #f4f5f6;
}
.call .left h1{
	color: #00c0ff;
	font-size: 16px;
}
.call .left h2,h3,h4,p{
	font-size: 12px;
	margin-bottom: 10px;
}
.call .right h1{
	color: #00c0ff;
	font-size: 16px;
}
.call .right label{
	color: #888;
    font-size: 12px;
    line-height: 22px;
}
.call .right .name,.tel{
	float: left;
	width: 50%;
}
.call .right input{
	display: block;
	width: 100%;
}
.call .speak input{
	height: 100px;
}
.call button{
	padding: 10px;
    width: 30%;
    background: #212121;
    color: #fff;
    margin: 10px auto;
    line-height: 18px;
    cursor: pointer;
    border: none;
        transition: 0.4s;
}
.call button:hover{
	background: #00c0ff;
}